{{ partial "header.html" . }}

{{ partial "nav.html" . }}

{{/*
   <h1>Pages</h1>
   {{ range .Data.Pages }}
     {{ if eq .Type "page" }}
       <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
     {{ end }}
   {{ end }}
*/}}


{{/*
  <h1>Articles</h1>
  <ol>
  {{ range .Data.Pages }}
    {{ if eq .Type "articles"}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
  </ol>

  <h1>Thérapies</h1>
  <ol>
  {{ range .Data.Pages }}
    {{ if eq .Type "therapies"}}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
  </ol>
*/}}



{{/*
  <ol>
      <li><a href="{{< ref "articles/allergie/" >}}">Les allergies</a></li>
  </ol>
[Neat]({{< ref "blog/neat.md" >}})
[Who]({{< relref "about.md#who" >}})
*/}}


{{ partial "footer.html" . }}