{{ partial "header.html" . }}

{{ partial "nav.html" . }}


<section id="feature" class="transparent-bg">
	<div class="container">

		<h1>Articles</h1>
		<ol>
			{{ range .Data.Pages }}
			{{ if eq .Type "articles" }}
			<li>
			    {{ $currentCategoryUrl := .Params.thumbnail.image | printf "%simages/%s" .Permalink }}
				<img src="{{ $currentCategoryUrl }}" alt="" />
				<a href="{{ .Permalink }}">{{ .Params.thumbnail.desc }}</a>
			</li>
			{{ end }}
			{{ end }}
		</ol>

	</div>
</section>

<section id="feature" class="transparent-bg">
	<div class="container">
		<ol>
		{{ range .Data.Pages }}
		<li>{{ .Title }}
			{{ if isset .Params "shortdesc" }}
			<ul><li>{{ .Params.shortdesc }}</li></ul>
			{{ end }}
			{{ if isset .Params "image" }}
			<ul><li>{{ .Params.image }}</li></ul>
			{{ end }}
		</li>
		{{ end }}
	</ol>
  </div>
</section>



{{ partial "footer.html" . }}
