<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">

            <img src="img/logo_naet.png" class="img-responsive" width="200" />
        </div>
        <div class="col-md-6">
            <div class="about-text">
                <div class="section-title">
                    <h4>Fabienne Jordan-Grossrieder</h4>
                    <h2>vous souhaite la bienvenue au&nbsp;<strong>CNL</strong></h2>
                    <hr />
                    <div class="clearfix"></div>
                </div>
                <p class="intro">Vous y découvrirez des solutions naturelles pour maintenir, améliorer ou recouvrer votre santé.</p>
                <ul class="about-list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Naturopathie</strong> <!-- - <em>We deliver uniqueness and quality</em> -->
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Nutrition</strong> <!-- - <em>Delivering fast and excellent results</em> -->
                    </li>
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Thérapies de l’Âme</strong> <!-- - <em>Satisfied clients thanks to our experience</em>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
