<div class="container">
    <div class="section-title center">
        <h2>Citation du <strong>Dalaï-Lama</strong></h2>
        <div class="line">
            <hr />
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 service">
            <p><i><span class="drop_cap">« C</span>e qui me surprend le plus dans l’humanité, ce sont les hommes eux-mêmes parce que d’abord ils perdent la santé pour accumuler de l’argent et ensuite ils perdent de l’argent pour retrouver la santé. Et à penser anxieusement au futur, ils oublient le présent de telle façon qu’ils finissent par vivre ni le présent, ni le futur. Ils vivent comme s’ils n’allaient jamais mourir et meurent comme s’ils n’avaient jamais vécu. »</i></p>
        </div>
    </div>
</div>
