<!-- Navigation
==========================================-->
  <div id="navarticles" class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		   <div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				</a>
				<div class="nav-collapse">
					<ul class="nav">
					<li>
					{{ if .NextInSection }}
						<a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
							&larr; <span class="nav-title nav-title-next">{{ .NextInSection.Title }}</span>
						</a>
					{{ else }}
						<a rel="next" href="javascript:void(0);" id="next">
							<span class="nav-title nav-title-next">&#160;</span>
						</a>
					{{ end }}
					</li>
					<li><a href="/">RETOUR À L’ACCUEIL</a></li>
					<li>
					{{ if .PrevInSection }}
						<a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
							<span class="nav-title nav-title-prev">{{ .PrevInSection.Title }}</span> &rarr;
						</a>
					{{ else }}
						<a rel="prev" href="javascript:void(0);" id="prev">
							<span class="nav-title nav-title-prev">&#160;</span>
						</a>
					{{ end }}
					</li>
					</ul>
				</div><!--/.nav-collapse -->
		   </div><!-- container -->
	  </div><!-- navbar-inner -->
 </div><!--  navbar navbar-fixed-top -->