<!-- Navigation
==========================================-->
<nav id="ar-menu" class="navbar navbar-default navbar-fixed-top" style="background-color-:black">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"/>
				<span class="icon-bar"/>
				<span class="icon-bar"/>
			</button>
			<a class="navbar-brand" href="index.html">CNL Naturopathie</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="#tf-home">Bienvenue</a></li>
				<li><a class="page-scroll" href="#tf-team">Les thérapeutes</a></li>
				<li><a class="page-scroll" href="#tf-services">Les thérapies</a></li>
				<li><a class="page-scroll" href="#tf-works">Les articles</a></li>
				<li><a class="page-scroll" href="#tf-testimonials">Le livre d’or</a></li>
				<li><a class="page-scroll" href="#tf-contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>