            <div class="container">
                <div class="section-title center">
                    <h2>Les <strong>thérapeutes</strong></h2>
                    <div class="line">
                        <hr />
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/fabienne-jordan.jpg" alt="Fabienne Jordan-Grossrieder" class="img-circle team-img" />
                            <div class="caption">
                                <h3>Fabienne<br/>Jordan-Grossrieder</h3>
                                <p>Naturopathe</p>
                                <p>Nutritionniste</p>
                                <p>T +41 21 601 35 82</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/philippe-gamondes.jpg" alt="Philippe Gamondès" class="img-circle team-img" />
                            <div class="caption">
                                <h3>Philippe<br/>Gamondès</h3>
                                <p>Nutritionniste</p>
                                <p>Médecine chinoise</p>
                                <p>T +41 79 943 82 11</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/feuille-martine-bergamin.png" alt="Martine Bergamin" class="img-circle team-img" />
                            <div class="caption">
                                <h3>Martine<br/>Bergamin</h3>
                                <p>Thérapies de l’Âme</p>
                                <p>Transmission<br/>des paroles<br/>de l’Ange</p>
                                <p>T +41 79 107 54 49</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/audrey-vitton.jpg" alt="..." class="img-circle team-img" />
                            <div class="caption">
                                <h3>Audrey<br/>Vitton</h3>
                                <p>—</p>
                                <p>—</p>
                            </div>
                        </div>
                    </div>

            </div>