<nav>
<h1>Bienvenue</h1>
<ul>
<li><a href="{{ .Site.BaseURL }}index/"                                                   >Bienvenue</a></li>
</ul>

<h1>Articles</h1>
<ul>
<li><a href="{{ .Site.BaseURL }}articles/allergie/"                                       >L’allergie</a></li>
<li><a href="{{ .Site.BaseURL }}articles/auriculotherapie/"                               >Auriculothérapie</a></li>
<li><a href="{{ .Site.BaseURL }}articles/cure-de-printemps-pour-le-foie/"                 >Cure de printemps pour le foie</a></li>
<li><a href="{{ .Site.BaseURL }}articles/eft/"                                            >EFT</a></li>
<li><a href="{{ .Site.BaseURL }}articles/iridologie/"                                     >Iridologie</a></li>
<li><a href="{{ .Site.BaseURL }}articles/l-amour/"                                        >L’amour</a></li>
<li><a href="{{ .Site.BaseURL }}articles/l-information/"                                  >L’information</a></li>
<li><a href="{{ .Site.BaseURL }}articles/le-chemin-vers-l-acceptation/"                   >Le chemin vers l’acceptation</a></li>
<li><a href="{{ .Site.BaseURL }}articles/le-lait-en-question/"                            >Le lait en question</a></li>
<li><a href="{{ .Site.BaseURL }}articles/le-reproche-l-offense/"                          >Le reproche, l’offense</a></li>
<li><a href="{{ .Site.BaseURL }}articles/le-sport-d-endurance/"                           >Le sport d’endurance</a></li>
<li><a href="{{ .Site.BaseURL }}articles/les-trois-corps/"                                >Les trois corps</a></li>
<li><a href="{{ .Site.BaseURL }}articles/liberation-anne-givaudan/"                       >Libération — Anne Givaudan</a></li>
<li><a href="{{ .Site.BaseURL }}articles/lier-delier-allier/"                             >Lier, délier, allier</a></li>
<li><a href="{{ .Site.BaseURL }}articles/migraine/"                                       >La migraine</a></li>
<li><a href="{{ .Site.BaseURL }}articles/osteopathie/"                                    >Ostéopathie</a></li>
<li><a href="{{ .Site.BaseURL }}articles/prevention-hiver/"                               >Prévention pour l’hiver</a></li>
<li><a href="{{ .Site.BaseURL }}articles/refroidissements/"                               >Les refroidissements</a></li>
<li><a href="{{ .Site.BaseURL }}articles/ritaline/"                                       >Hyperactivité – déficit d’attention</a></li>
<li><a href="{{ .Site.BaseURL }}articles/vaccins/"                                        >La phobie des microbes, la rançon des vaccins</a></li>
</ul>

<h1>Thérapies</h1>
<ul>
<li><a href="{{ .Site.BaseURL }}therapies/applications/"                                  >La Naturopathie et ses applications</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/aromatherapie/"                                 >Aromathérapie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/audrey-vitton/"                                 >Audrey Vitton</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/decouvrez-le-cnl/"                              >Découvrez le CNL</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/drainage/"                                      >Le drainage lymphatique Vodder</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/endermologie/"                                  >L’endermologie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/homeopathie/"                                   >Homéopathie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/hygiene-vitale/"                                >Hygiène vitale</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/martine-bergamin/"                              >Martine Bergamin</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/massage-ayurvedique/"                           >Massage ayurvédique</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/massage-therapeutique-aux-huiles-essentielles/" >Massage thérapeutique aux huiles essentielles</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/medecine-chinoise/"                             >Médecine traditionnelle chinoise</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/moratherapie/"                                  >La biorésonnance avec appareil MORA ou le rationnel en médecine énergétique</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/philippe-gamondes/"                             >Philippe Gamondès</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/phytotherapie/"                                 >Phytothérapie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/reflexologie/"                                  >La réflexologie podale</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/spagyrie/"                                      >Spagyrie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/sympathicotherapie/"                            >Sympathicothérapie</a></li>
<li><a href="{{ .Site.BaseURL }}therapies/veinologie/"                                    >Veinologie</a></li>
</ul>

<h1>Divers</h1>
<ul>
<li><a href="{{ .Site.BaseURL }}divers/coin-lecture/"                                     >Coin lecture</a></li>
<li><a href="{{ .Site.BaseURL }}divers/sites-d-interet/"                                  >Sites d’intérêt</a></li>
</ul>

</nav>